

body{
  background-color: skyblue;
}

.weather-container {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
   
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: green;
  }
  
  .error {
    color: red;
    margin-top: 20px;
  }
  
  .forecast {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .forecast-day {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 150px;
    text-align: center;
    background-color: #f9f9f9;
  }
  
  .forecast-day h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .forecast-day p {
    margin: 5px 0;
  }
  